@if (myForm) {
  <div class="p-3">
    <div class="theme-container">
      <div>
        <div class="text-center">
          <div class="text-center">
            <h1 class="uppercase">
              @if (editItem) {
                {{ 'EDIT' | translate }} {{ 'PRODUCT' | translate }}
                "{{ editItem.title }}"
              } @else {
                {{ 'ADD' | translate }} {{ 'PRODUCT' | translate }}
              }
            </h1>
          </div>
        </div>
        <mat-error *ngIf="error" class="bg-warn p-3 my-3 background-color bordered">
          {{ error }}
        </mat-error>
        <form (ngSubmit)="onFormSubmit(myForm.value)" [formGroup]="myForm" fxLayout="row wrap">
          <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'TITLE' | translate }}</mat-label>
              <input [placeholder]="'TITLE' | translate" autocomplete="off" formControlName="title" matInput required>
              <mat-error *ngIf="myForm.controls['title'].errors?.['required']">
                {{ 'TITLE' | translate }}
                {{ 'IS_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>{{ 'CATEGORY' | translate }}</mat-label>
              <mat-select formControlName="productCategoryId" [placeholder]="'CATEGORY' | translate" required>
                <mat-option *ngFor="let item of productCategories" [value]="item.id">
                  {{ item.title }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="myForm.controls['productCategoryId'].errors?.['required']">
                {{ 'CATEGORY' | translate }}
                {{ 'IS_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
            <div class="border-radius border pad">
              <mat-label class="ml-2 gray-color">{{ 'MAIN_IMAGE' | translate }}</mat-label>
              <input (change)="handleImageInput($event.target)" class="py-1" formControlName="imagePath"
                     [placeholder]="'MAIN_IMAGE' | translate" type="file"/>
              <button *ngIf="oldImagePath" mat-icon-button (click)="deleteImage()" class="mx-3" color="primary"
                      [matTooltip]="('DELETE' | translate) + ' ' + ('MAIN_IMAGE' | translate)"
                      matTooltipPosition="after" type="button">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <div class="px-2 mb-4" fxFlex="100" fxFlex.gt-xs="50">
            <div class="border-radius border pad">
              <mat-label class="ml-2 gray-color">{{ 'FILE' | translate }}</mat-label>
              <input (change)="handleFileInput($event.target)" class="py-1" formControlName="fileId"
                     [placeholder]="'FILE' | translate" type="file"/>
              <button *ngIf="oldFileId" mat-icon-button (click)="deleteFile()" class="mx-3" color="primary"
                      [matTooltip]="('DELETE' | translate) + ' ' + ('FILE' | translate)" matTooltipPosition="after"
                      type="button">
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
          <div class="px-2 mb-4" fxFlex="100" fxFlex.gt-xs="100">
            <mat-label>{{ 'DESCRIPTION' | translate }}</mat-label>
            <angular-editor (blur)="leaveDescription()" [config]="editorConfig" formControlName="description"
                            id="editor0"
                            [placeholder]="'DESCRIPTION' | translate" required></angular-editor>
            <mat-error *ngIf="descriptionError && myForm.controls['description'].errors?.['required']">
              {{ 'DESCRIPTION' | translate }}
              {{ 'IS_REQUIRED' | translate }}
            </mat-error>
          </div>
          <div class="px-2 mb-4" fxFlex="100" fxFlex.gt-xs="100">
            <app-multi-file-upload
              formControlName="gallery"
              [label]="'IMAGES' | translate"
              [maxFiles]="-1"
              [maxSizeMb]="-1"
              [minWidth]="-1"
              [minHeight]="-1"
              [aspectRatio]="-1"
            ></app-multi-file-upload>
          </div>
          <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
            <mat-form-field appearance="outline" class="w-100 mt-2">
              <mat-icon class="mr-1 text-muted" matPrefix>money</mat-icon>
              <mat-label>{{ 'PRICE' | translate }}</mat-label>
              <input class="text-left ltr" formControlName="price" matInput onlyNumber
                     [placeholder]="'PRICE' | translate">
              <mat-error *ngIf="myForm.controls['price'].errors?.['required']">
                {{ 'PRICE' | translate }}
                {{ 'IS_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
            <mat-form-field appearance="outline" class="w-100 mt-2">
              <mat-icon class="mr-1 text-muted" matPrefix>person_outline</mat-icon>
              <mat-label>{{ 'DISCOUNT_BY_PERCENT' | translate }}</mat-label>
              <input class="text-left ltr" formControlName="discount" matInput onlyNumber
                     [placeholder]="'DISCOUNT_BY_PERCENT' | translate">
              <mat-error *ngIf="myForm.controls['discount'].errors?.['required']">
                {{ 'DISCOUNT' | translate }}
                {{ 'IS_REQUIRED' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="text-center mt-3" fxFlex="100">
            <button class="uppercase" color="primary" mat-raised-button type="submit">
              {{ (editItem ? 'EDIT' : 'ADD') | translate }}
              {{ 'PRODUCT' | translate }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
}
