.header-toolbar {
  box-shadow: 0 0.22222rem 0.22222rem rgba(0, 0, 0, .1), 0 0 0.44444rem rgba(0, 0, 0, .08);
  background: var(--pm-bg);
  direction: rtl;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    margin-left: 1rem;
  }

  .main-menu a {
    margin: 0 0.5rem;
    font-weight: 500;
    color: var(--pm-secondary);
  }

  .mobile-toggle {
    display: none;
  }

  @media (max-width: 768px) {
    .desktop-only {
      display: none;
    }

    .mobile-toggle {
      display: inline-flex;
      color: white;
    }
  }
}

.sidenav-container {
  direction: rtl;
  height: 100%;
}

.mobile-sidenav {
  width: 250px;
}
