<div class="next-root mb-1">
  <div (click)="clickMenu(parent)" class="cursor-pointer" fxLayout="row wrap">
    <mat-icon *ngIf="parent.children?.length > 0" color="warn" class="ml-1">
      {{ isOpen[parent.id] ? 'remove_circle' : 'add_circle' }}
    </mat-icon>
    <span [ngClass]="parent.id === selectedId ? 'fw-600' : ''">{{ parent.title }}</span>
  </div>
</div>
<div class="next-level" *ngFor="let child of parent.children" [ngClass]="{'mb-1' : isOpen[parent.id]}">
  <div class="d-flex w-100">
    <app-tree-categories (onItemClicked)="clickItem(child)" [parent]="child" [isTopLevel]="false"
                         *ngIf="isOpen[parent.id]" [selectedId]="selectedId" class="flex-grow-1">
    </app-tree-categories>
  </div>
</div>
