<div class="next-root mb-1">
  <div (click)="clickMenu(parent)" class="cursor-pointer" fxLayout="row wrap">
    @if ((parent.children?.length ?? 0) > 0) {
      <mat-icon color="warn" class="ml-1">
        {{ isOpen[parent.id] ? 'remove_circle' : 'add_circle' }}
      </mat-icon>
    }
    <span [ngClass]="parent.id === selectedId ? 'fw-600' : ''">{{ parent.title }}</span>
  </div>
</div>
@for (child of parent.children; track child.id) {
  <div class="next-level" [ngClass]="{'mb-1' : isOpen[parent.id]}">
    <div class="d-flex w-100">
      @if (isOpen[parent.id]) {
        <app-tree-categories (onItemClicked)="clickItem(child)" [parent]="child" [isTopLevel]="false"
                             [selectedId]="selectedId" class="flex-grow-1">
        </app-tree-categories>
      }
    </div>
  </div>
}
