<div *ngIf="myForm" class="p-3">
  <div class="theme-container">
    <div>
      <div class="text-center">
        <h1 class="uppercase">
          <ng-container *ngIf="editItem; else isAdd">
            ویرایش
            {{ 'ARTICLE' }}
            "{{ editItem.title }}"
          </ng-container>
          <ng-template #isAdd>
            افزودن
            {{ 'ARTICLE' }}
          </ng-template>
        </h1>
      </div>
      <mat-error *ngIf="error" class="bg-warn p-3 my-3 background-color bordered">
        {{ error }}
      </mat-error>
      <form (ngSubmit)="onFormSubmit(myForm.value)" [formGroup]="myForm" fxLayout="row wrap">
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>عنوان</mat-label>
            <input [placeholder]="'TITLE'" autocomplete="off" formControlName="title" matInput
                   required>
            <mat-error *ngIf="myForm.controls['title'].errors?.['required']">
              عنوان
              الزامی است.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'ARTICLE_CATEGORY' }}</mat-label>
            <mat-select formControlName="category" placeholder="{{'ARTICLE_CATEGORY'}}"
                        required>
              <mat-option *ngFor="let item of resourceCategories" [value]="item">
                {{ item.title }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.controls['category'].errors?.['required']">
              {{ 'ARTICLE_CATEGORY' }}
              الزامی است.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <div class="border-radius border pad">
            <mat-label class="ml-2 gray-color">{{ 'IMAGE' }}</mat-label>
            <input (change)="handleImageInput($event.target)" class="py-1" formControlName="image"
                   placeholder="{{'IMAGE'}}" type="file"/>
          </div>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'LANGUAGE' }}</mat-label>
            <input autocomplete="off" formControlName="language" matInput
                   placeholder="{{'LANGUAGE'}}">
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'PUBLISH_DATE' }}</mat-label>
            <input autocomplete="off" formControlName="publishDate" matInput
                   placeholder="{{'PUBLISH_DATE'}}">
          </mat-form-field>
        </div>
        <div class="px-2 mb-4" fxFlex="100" fxFlex.gt-xs="50">
          <div class="border-radius border pad">
            <mat-label class="ml-2 gray-color">{{ 'FILE' }}</mat-label>
            <input (change)="handleFileInput($event.target)" class="py-1" formControlName="file"
                   placeholder="{{'FILE'}}" type="file"/>
          </div>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'KEYWORDS' }}({{ 'SEPARATE_WITH_COMMA' }})</mat-label>
            <input autocomplete="off" formControlName="keywords" matInput
                   placeholder="{{'KEYWORDS'}}">
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'EXPIRATION_DATE' }}</mat-label>
            <input #dateInput (dateChange)="dateChanged(dateInput)" [matDatepicker]="picker"
                   formControlName="expirationDate"
                   matInput placeholder="{{'EXPIRATION_DATE'}}">
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>تاریخ انقضا</mat-label>
            <input [(ngModel)]="expTime" [ngxMatTimepicker]="pickerB" formControlName="expirationTime" [format]="24"
                   matInput placeholder="{{'EXPIRATION_TIME'}}" readonly/>
            <mat-icon (click)="pickerB.open()" matSuffix>watch_later</mat-icon>
          </mat-form-field>
          <ngx-mat-timepicker #pickerB color="accent"></ngx-mat-timepicker>
        </div>
        <div class="px-2 mb-4" fxFlex="100" fxFlex.gt-xs="100">
          <mat-label>{{ 'ABSTRACT' }}</mat-label>
          <angular-editor (blur)="leaveAbstract()" [config]="editorConfig" formControlName="abstract"
                          id="editor0" placeholder="{{'ABSTRACT'}}" required></angular-editor>
          <mat-error *ngIf="abstractError && myForm.controls['abstract'].errors?.['required']">
            {{ 'ABSTRACT' }}
            الزامی است.
          </mat-error>
        </div>
        <!--******************************-->
        <div class="my-3 px-2" fxFlex="100" fxLayoutAlign="start center">
          <p class="uppercase fw-500 mb-0">{{ 'ANCHORS' }}</p>
          <button (click)="addAnchor()" class="mx-3" color="primary" mat-icon-button
                  matTooltip="{{'ADD'}} {{'ANCHOR'}}" matTooltipPosition="after"
                  type="button">
            <mat-icon>add_circle</mat-icon>
          </button>
        </div>
        <div formArrayName="anchors" fxFlex="100" fxLayout="row wrap">
          <div *ngFor="let item of anchorsArray.controls; let i = index;" fxFlex="100" class="step-section pb-2">
            <div class="fw-500 text-center pt-3" fxFlex="4">{{ i + 1 }}.</div>
            <div [formGroupName]="i" fxFlex="90" fxLayout="row wrap">
              <input formControlName="id" type="hidden">
              <mat-form-field appearance="outline" class="h-fix px-2" fxFlex="100" fxFlex.gt-xs="20">
                <mat-label>عنوان</mat-label>
                <input autocomplete="off" formControlName="name" matInput
                       placeholder="{{'TITLE'}}">
              </mat-form-field>
              <div class="px-2" fxFlex="100" fxFlex.gt-xs="80">
                <angular-editor [config]="editorConfig" formControlName="desc" id="editor{{i + 1}}" placeholder="{{'DESCRIPTION'}}"></angular-editor>
              </div>
            </div>
            <div class="text-center pt-2" fxFlex="6">
              <button (click)="deleteAnchor(i)" color="warn" mat-icon-button
                      matTooltip="{{'DELETE'}} {{'ANCHOR'}}">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <!--******************************-->
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="20">
          <mat-label>{{ 'VIP' }}</mat-label>
          <div>
            <mat-slide-toggle formControlName="isVip" labelPosition="before"></mat-slide-toggle>
            <!--<input matInput placeholder="{{'vip'}}" formControlName="keywords" autocomplete="off">-->
          </div>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="40">
          <mat-form-field appearance="outline" class="w-100 mt-2">
            <mat-icon class="mr-1 text-muted" matPrefix>money</mat-icon>
            <mat-label>{{ 'PRICE' }}</mat-label>
            <input class="text-left ltr" formControlName="price" matInput
                   onlyNumber placeholder="{{'PRICE'}}">
            <mat-error *ngIf="myForm.controls['price'].errors?.['required']">
              {{ 'PRICE' }}
              الزامی است.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="40">
          <mat-form-field appearance="outline" class="w-100 mt-2">
            <mat-icon class="mr-1 text-muted" matPrefix>person_outline</mat-icon>
            <mat-label>{{ 'DISCOUNT_BY_PERCENT' }}</mat-label>
            <input class="text-left ltr" formControlName="discount" matInput
                   onlyNumber placeholder="{{'DISCOUNT_BY_PERCENT'}}">
            <mat-error *ngIf="myForm.controls['discount'].errors?.['required']">
              {{ 'DISCOUNT' }}
              الزامی است.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="50" fxFlex.gt-xs="50">
          <mat-slide-toggle color="warn" formControlName="showInChem"></mat-slide-toggle>
          <mat-label>نمایش در سایت البرز شیمی</mat-label>
        </div>
        <div class="px-2" fxFlex="50" fxFlex.gt-xs="50">
          <mat-slide-toggle color="warn" formControlName="showInAcademy"></mat-slide-toggle>
          <mat-label>نمایش در سایت آکادمی البرز</mat-label>
        </div>
        <div class="text-center mt-3" fxFlex="100">
          <button class="uppercase" color="primary" mat-raised-button type="submit">
            {{ (editItem ? 'EDIT' : 'ADD') }}
            {{ 'ARTICLE' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
