<div>
  <a [routerLink]="'/admin/clip/add-category'" class="bg-accent mx-3 my-3" mat-raised-button>
    افزودن دسته بندی
    <mat-icon>add</mat-icon>
  </a>
  <a [routerLink]="'/admin/clip/add'" class="bg-green mx-3 my-3" mat-raised-button>
    افزودن کلیپ
    <mat-icon>add</mat-icon>
  </a>
  <a [routerLink]="'/admin/clip/category-list'" class="bg-warn mx-3 my-3" mat-raised-button>
    لیست دسته بندی ها
    <mat-icon>grid_on</mat-icon>
  </a>
  <a [routerLink]="'/admin/clip/list'" class="bg-primary mx-3 my-3" mat-raised-button>
    لیست کلیپ ها
    <mat-icon>grid_on</mat-icon>
  </a>
</div>
