<div>
  <a [routerLink]="'/admin/clip/add-category'" class="bg-accent mx-3 my-3" mat-raised-button>
    افزودن
    {{ 'CLIP_CATEGORY' }}
    <mat-icon>add</mat-icon>
  </a>
  <a [routerLink]="'/admin/clip/add'" class="bg-green mx-3 my-3" mat-raised-button>
    افزودن
    {{ 'CLIP' }}
    <mat-icon>add</mat-icon>
  </a>
  <a [routerLink]="'/admin/clip/category-list'" class="bg-warn mx-3 my-3" mat-raised-button>
    لیست
    {{ 'CLIP_CATEGORIES' }}
    <mat-icon>grid_on</mat-icon>
  </a>
  <a [routerLink]="'/admin/clip/list'" class="bg-primary mx-3 my-3" mat-raised-button>
    لیست
    {{ 'CLIPS' }}
    <mat-icon>grid_on</mat-icon>
  </a>
</div>
