<div class="section">
  <div class="px-3">
    <div class="theme-container">
      <div fxLayout="row warp" fxLayoutAlign="space-between center" class="mx-1 my-3">
        <div>
          <span class="our-title">{{ '' | translate }}</span>
        </div>
        <a fxLayoutAlign="start start" [routerLink]="['/centers' | langPack]" color="warn" class="not-link">
          {{ 'VIEW_ALL' | translate }}
          <mat-icon>chevron_left</mat-icon>
        </a>
      </div>
      <h1 class="section-title">{{ 'TREATMENT_CENTERS' | translate }}</h1>
      <div class="testimonials-carousel">
        <div class="swiper-container h-100" [swiper]="config">
          <div class="swiper-wrapper h-100">
            @for (item of items; track item.title) {
              <div class="swiper-slide">
                <div class="content text-center">
                  <img [src]="item.image" class="swiper-lazy" [alt]="item.author">
                  <h3 class="mt-2">{{ item.title }}</h3>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

