/* You can add global styles to this file, and also import other style files */
@import 'assets/fonts/alborzchem/alborzchem.css';

html, body {
  direction: rtl;
  text-align: right;
  margin: 0;
  padding: 0;
  font-family: 'Alborzchem', sans-serif;
  background-color: #f9f9f9;
}

.main-container {
  min-height: calc(100vh - 354px - 32px); /*با فرض اینکه هدر و فوتر مجموعاً حدود 354px ارتفاع دارند*/
  padding: 16px;
}

.admin-container {
  min-height: calc(100vh - 354px - 32px); /*با فرض اینکه هدر و فوتر مجموعاً حدود 354px ارتفاع دارند*/
  padding: 16px;
}

.user-container {
  min-height: calc(100vh - 354px - 32px); /*با فرض اینکه هدر و فوتر مجموعاً حدود 354px ارتفاع دارند*/
  padding: 16px;
}
