<div>
  <a [routerLink]="'/admin/notice/add-category'" class="bg-accent mx-3 my-3" mat-raised-button>
    افزودن
    {{ 'NOTICE_CATEGORY' }}
    <mat-icon>add</mat-icon>
  </a>
  <a [routerLink]="'/admin/notice/add'" class="bg-green mx-3 my-3" mat-raised-button>
    افزودن
    {{ 'NOTICE' }}
    <mat-icon>add</mat-icon>
  </a>
  <a [routerLink]="'/admin/notice/category-list'" class="bg-warn mx-3 my-3" mat-raised-button>
    لیست
    {{ 'NOTICE_CATEGORIES' }}
    <mat-icon>grid_on</mat-icon>
  </a>
  <a [routerLink]="'/admin/notice/list'" class="bg-primary mx-3 my-3" mat-raised-button>
    لیست
    {{ 'NOTICES' }}
    <mat-icon>grid_on</mat-icon>
  </a>
</div>
