<button mat-button [matMenuTriggerFor]="langMenu" #langMenuTrigger="matMenuTrigger" class="lang-btn" ngClass.xs="small">
  <span fxShow="false" fxShow.gt-md class="uppercase flag-name">{{ langName }}</span>
  <mat-icon class="mat-icon-sm caret background-color">arrow_drop_down</mat-icon>
</button>
<mat-menu #langMenu="matMenu" [overlapTrigger]="false" class="app-menu-panel lang">
    <span (mouseleave)="langMenuTrigger.closeMenu()">
      @for (lang of languages; track lang) {
        <button mat-menu-item (click)="changeLang(lang)">
            <span class="flag-name">{{ getLangName(lang) }}</span>
        </button>
      }
    </span>
</mat-menu>
