$spacer-unit: 0.25rem;
$spacers: (
  0: 0,
  1: $spacer-unit,
  2: $spacer-unit * 2,
  3: $spacer-unit * 3,
  4: $spacer-unit * 4,
  5: $spacer-unit * 5,
  6: $spacer-unit * 6,
  7: $spacer-unit * 7
);

@each $key, $value in $spacers {
  .p-#{$key} {
    padding: #{$value};
  }
  // Padding Left & Right
  .pl-#{$key} {
    padding-left: #{$value};
  }
  .pr-#{$key} {
    padding-right: #{$value};
  }
  .px-#{$key} {
    padding-left: #{$value};
    padding-right: #{$value};
  }
  .pt-#{$key} {
    padding-top: #{$value};
  }
  .pb-#{$key} {
    padding-bottom: #{$value};
  }
  .py-#{$key} {
    padding-top: #{$value};
    padding-bottom: #{$value};
  }

  .m-#{$key} {
    padding: #{$value};
  }
  // Margin Left & Right
  .ml-#{$key} {
    margin-left: #{$value};
  }
  .mr-#{$key} {
    margin-right: #{$value};
  }
  .mx-#{$key} {
    margin-left: #{$value};
    margin-right: #{$value};
  }
  .mt-#{$key} {
    margin-top: #{$value};
  }
  .mb-#{$key} {
    margin-bottom: #{$value};
  }
  .my-#{$key} {
    margin-top: #{$value};
    margin-bottom: #{$value};
  }

  // Padding Start & End
  .ps-#{$key} {
    padding-inline-start: #{$value};
  }
  .pe-#{$key} {
    padding-inline-end: #{$value};
  }

  // Margin Start & End
  .ms-#{$key} {
    margin-inline-start: #{$value};
  }
  .me-#{$key} {
    margin-inline-end: #{$value};
  }
}
