@if (order) {
  <div class="order-finish">
    <div class="icon">
      <ng-container [ngSwitch]="order.status">
        <mat-icon *ngSwitchCase="OrderStatus.Paid" color="primary">check_circle</mat-icon>
        <mat-icon *ngSwitchCase="OrderStatus.Error" color="warn">error</mat-icon>
        <mat-progress-spinner *ngSwitchCase="OrderStatus.Pending" mode="indeterminate"
                              diameter="48"></mat-progress-spinner>
      </ng-container>
    </div>

    <div class="info">
      <h2 *ngIf="order.status === OrderStatus.Paid">سفارش موفق</h2>
      <h2 *ngIf="order.status === OrderStatus.Error">ثبت سفارش با خطا️</h2>
      <h2 *ngIf="order.status === OrderStatus.Pending">در حال پردازش سفارش...</h2>

      <div *ngIf="order.id" class="order-details">
        <p><strong>شماره سفارش:</strong> {{ order.id }}</p>
        <p><strong>وضعیت سفارش:</strong> {{ order.statusText }}</p>
        <p><strong>کد رهگیری:</strong> {{ order.orderNumber }}</p>
        <p>
          <strong>تاریخ سفارش:</strong>
          <span>
              {{ helpers.convertToPersianDate(order?.updateDate ?? '') }}
            </span>
        </p>
        <p *ngIf="order.totalAmount">
          <strong>مبلغ کل:</strong>
          {{ order.totalAmount | currencyFormatter }}
          ریال
        </p>
      </div>

      <mat-divider></mat-divider>

      <div class="items" *ngIf="order.items.length && order.status === OrderStatus.Paid">
        <h3>محصولات خریداری‌شده:</h3>
        <div fxLayout="row wrap">
          @for (item of order?.items; track item.relatedId) {
            <div fxFlex="100" fxFlex.gt-md="100" class="py-2">
              <p>
                {{ 'PRODUCT_NAME' | translate }}:
                {{ item.relatedName }}
              </p>
              <p>
                {{ 'PRICE' | translate }}:
                {{ item.unitPrice | currencyFormatter }}
                {{ 'RIAL' | translate }}
              </p>
              <p>
                {{ 'GUARANTY_EXPIRATION_TIME' | translate }}:
                @if (item.guarantyExpirationDate) {
                  {{ item.guarantyExpirationDate }}
                } @else {
                  گارانتی ندارد
                }
              </p>
              <p>
                {{ 'PERIODIC_SERVICE' | translate }}:
                @if (item.periodicServiceInterval > 0) {
                  هر
                  {{ item.periodicServiceInterval }}
                  ماه
                } @else {
                  {{ 'PERIODIC_SERVICE' | translate }}
                  ندارد
                }
              </p>
              <mat-divider></mat-divider>
            </div>
          }
        </div>
      </div>

      <div class="actions">
        <a mat-flat-button color="primary" [routerLink]="'/' + url + '/order/list' | langPack">لیست سفارشات</a>
      </div>
    </div>
  </div>
}
