.articles-container {
  direction: rtl;
  max-width: 900px;
  margin: 2rem auto;

  .article-card {
    margin-bottom: 2rem;
  }

  .comments-section {
    margin-top: 1rem;

    ul {
      padding-right: 1rem;
      list-style: disc;
    }
  }

  .full-width {
    width: 100%;
  }
}
