<div *ngIf="myForm" class="p-3">
  <div class="theme-container">
    <div>
      <div class="text-center">
        <h1 class="uppercase">
          <ng-container *ngIf="editItem; else isAdd">
            ویرایش
            خبر
            "{{ editItem.title }}"
          </ng-container>
          <ng-template #isAdd>
            افزودن
            خبر
          </ng-template>
        </h1>
      </div>
      <mat-error *ngIf="error" class="bg-warn p-3 my-3 background-color bordered">
        {{ error }}
      </mat-error>
      <form (ngSubmit)="onFormSubmit(myForm.value)" [formGroup]="myForm" fxLayout="row wrap">
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>تیتر</mat-label>
            <input [placeholder]="'تیتر'" autocomplete="off" formControlName="title" matInput
                   required>
            <mat-error *ngIf="myForm.controls['title'].errors?.['required']">
              تیتر
              الزامی است.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>لید خبر</mat-label>
            <input [placeholder]="'لید خبر'" autocomplete="off" formControlName="abstract" matInput
                   required>
            <mat-error *ngIf="myForm.controls['abstract'].errors?.['required']">
              لید خبر
              الزامی است.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>دسته بندی</mat-label>
            <mat-select formControlName="category" placeholder="دسته بندی" required>
              <mat-option *ngFor="let item of resourceCategories" [value]="item">
                {{ item.title }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="myForm.controls['category'].errors?.['required']">
              دسته بندی
              الزامی است.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <div class="border-radius border pad">
            <input (change)="handleImageInput($event.target)" class="py-1" formControlName="image"
                   placeholder="{{'IMAGE'}}" type="file"/>
          </div>
        </div>
        <div class="px-2 mb-4" fxFlex="100" fxFlex.gt-xs="100">
          <mat-label>توضیحات</mat-label>
          <angular-editor (blur)="leaveAbstract()" [config]="editorConfig" formControlName="description"
                          id="editor0" placeholder="{{'DESCRIPTION'}}" required></angular-editor>
          <mat-error *ngIf="abstractError && myForm.controls['description'].errors?.['required']">
            توضیحات
            الزامی است.
          </mat-error>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'LANGUAGE' }}</mat-label>
            <input autocomplete="off" formControlName="language" matInput placeholder="{{'LANGUAGE'}}">
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'PUBLISH_DATE' }}</mat-label>
            <input #dateInput1 (dateChange)="dateChanged(dateInput1, 2)" [matDatepicker]="picker1"
                   formControlName="publishDate"
                   matInput placeholder="{{'PUBLISH_DATE'}}">
            <mat-datepicker-toggle [for]="picker1" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <!--<div fxFlex="100" fxFlex.gt-xs="50" class="px-2">
                  <mat-form-field appearance="outline" class="w-100">
                    <mat-label>{{'PUBLISH_DATE'}}</mat-label>
                    <input matInput placeholder="{{'PUBLISH_DATE'}}" formControlName="publishDate"
                           autocomplete="off">
                  </mat-form-field>
                </div>-->
        <div class="px-2 mb-4" fxFlex="100" fxFlex.gt-xs="50">
          <mat-label>{{ 'FILE' }}</mat-label>
          <div class="border-radius border pad">
            <input (change)="handleFileInput($event.target)" class="py-1" formControlName="file"
                   placeholder="{{'FILE'}}" type="file"/>
          </div>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-label>{{ 'VIP' }}</mat-label>
          <div>
            <mat-slide-toggle formControlName="isVip" labelPosition="before"></mat-slide-toggle>
            <!--<input matInput placeholder="{{'vip'}}" formControlName="keywords" autocomplete="off">-->
          </div>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="100">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'KEYWORDS' }}({{ 'SEPARATE_WITH_COMMA' }})</mat-label>
            <input autocomplete="off" formControlName="keywords" matInput placeholder="{{'KEYWORDS'}}">
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'EXPIRATION_DATE' }}</mat-label>
            <input #dateInput (dateChange)="dateChanged(dateInput, 1)" [matDatepicker]="picker"
                   formControlName="expirationDate"
                   matInput placeholder="{{'EXPIRATION_DATE'}}">
            <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="50">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'EXPIRATION_TIME' }}</mat-label>
            <input [(ngModel)]="expTime" [ngxMatTimepicker]="pickerB" formControlName="expirationTime" [format]="24"
                   matInput placeholder="{{'EXPIRATION_TIME'}}" readonly/>
            <mat-icon (click)="pickerB.open()" matSuffix>watch_later</mat-icon>
          </mat-form-field>
          <ngx-mat-timepicker #pickerB color="accent"></ngx-mat-timepicker>
        </div>
        <div class="px-2" fxFlex="50" fxFlex.gt-xs="50">
          <mat-slide-toggle color="warn" formControlName="showInChem"></mat-slide-toggle>
          <mat-label>نمایش در سایت البرز شیمی</mat-label>
        </div>
        <div class="px-2" fxFlex="50" fxFlex.gt-xs="50">
          <mat-slide-toggle color="warn" formControlName="showInAcademy"></mat-slide-toggle>
          <mat-label>نمایش در سایت آکادمی البرز</mat-label>
        </div>
        <div class="text-center mt-3" fxFlex="100">
          <button class="uppercase" color="primary" mat-raised-button type="submit">
            {{ (editItem ? 'EDIT' : 'ADD') }}
            خبر
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
