<mat-toolbar id="top-toolbar" class="top-toolbar d-none0">
  <div class="theme-container " fxLayout="row" fxLayoutAlign="space-between center">
    <div class="mr-2">
      <span class="font-large fw-600" ngClass.xs="font-sm fw-600">{{ 'SLOGAN' | translate }}</span>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
      <app-social-icons fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.gt-md></app-social-icons>
      <div fxLayout="row" fxLayoutAlign="start center" class="px-2">
        <mat-icon color="primary" fxShow.lt-sm="false">call</mat-icon>
        <div class="px-1">
          <a href="tel:{{settings.tel}}" class="not-link">{{ settings.tel.replace('021', '') }}</a>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxShow="false" fxShow.gt-xs>
        <mat-icon color="primary">mail</mat-icon>
        <div class="px-1">
          <a href="mailto:{{settings.email}}" class="not-link">{{ settings.email }}</a>
        </div>
      </div>
    </div>
    <div></div>
    <div fxLayout="row" fxLayoutAlign="end center" class="right-section" ngClass.xs="w-100">
      <!--<a [routerLink]="['/search' | langPack]" mat-icon-button matTooltip="{{'SEARCH' | translate}}"
         class="shop ml-1">
        <mat-icon>
          search
        </mat-icon>
      </a>-->
      <!--*************-->
      @if (!authService.isLoggedIn()) {
        <a [routerLink]="['/auth/login' | langPack]" class="background-color not-link">
          {{ 'LOGIN' | translate }}
        </a>
      } @else {
        <app-user-menu></app-user-menu>
      }
      @if (appSettings.settings.selectLang) {
        <app-lang></app-lang>
      }

      <div class="cart-dropdown">
        <button mat-icon-button>
          <mat-icon [matBadge]="totalItems" [matBadgeHidden]="totalItems === 0"
                    matBadgeSize="small" matBadgeColor="warn" aria-hidden="false">
            shopping_cart
          </mat-icon>
        </button>
        <div class="cart-menu">
          <ng-container *ngIf="cartItems.length > 0; else empty">
            <div *ngFor="let item of cartItems" class="cart-item foreground-color reduced0 removed0">
              <span>{{ item.relatedName }}</span>
              <span>تعداد: {{ item.quantity }}</span>
              <span>{{ item.unitPrice * item.quantity | number }} تومان</span>
              <span class="icon-warning d-none">⚠️</span>
              <mat-icon (click)="removeItem(item.id ?? 0)" class="red-color">cancel</mat-icon>
            </div>
            <div class="checkout">
              <a mat-button class="bg-red background-color" [routerLink]="['/cart/checkout' | langPack]">
                ثبت سفارش
              </a>
            </div>
          </ng-container>
          <ng-template #empty>
            <div class="empty-cart">سبد خرید شما خالی است</div>
          </ng-template>
        </div>
      </div>


      <button mat-button class="menu" fxHide="false" fxHide.gt-sm (click)="sidenavToggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
</mat-toolbar>
<mat-toolbar id="main-toolbar" color="accent">
  <div class="theme-container0 w-100">
    <app-header></app-header>
  </div>
</mat-toolbar>
