@use '../../../theme/styles/variables' as *;

.blue {
  background-color: #03a9f4 !important;
}

.buttons {
  margin-left: 4px;
}

.fs2 {
  font-size: 1.75rem;
}

.p2 {
  padding: 2px 16px;
}

.font-1 {
  font-size: 1rem;
}

input {
  height: 32px;
  border-radius: 12px;
  border: solid 2px silver;
  padding: 0 8px;

  &::placeholder {
    color: $accent;
    opacity: 0.5;
  }

  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

.menu {
  min-width: 44px;
}

.font-sm {
  font-size: 8pt !important;
}

.font-sm2 {
  font-size: 10pt !important;
}

// sm
@media screen and (max-width: 480px) {
  .social {
    display: none !important;
  }
}

::ng-deep {
  #main-toolbar {
    .d-block {
      display: block !important;
    }
  }

  body.open {
    .cdk-overlay-container {
      top: $top-toolbar-height;
    }

    .cdk-overlay-connected-position-bounding-box {
      top: 0 !important;
    }
  }

  .cart-menu-panel {
    max-width: 350px !important;
  }

  .mat-mdc-menu-content:empty {
    padding: 0;
  }
}

.btn-rounded {
  padding: 0;
  white-space: nowrap !important;
  width: 120px !important;

  &.small {
    font-size: 8pt !important;
    border-radius: 0 !important;
    width: 90px !important;
  }
}

.mixing-btn {
  white-space: normal !important;
  line-height: 110%;
  text-align: center;
}

/****BEGIN CART****/
.cart-dropdown {
  position: relative;
  display: inline-block;
}

.cart-menu {
  display: none;
  position: absolute;
  right: 0;
  background: white;
  min-width: 250px;
  z-index: 1000;
  padding: 10px;
  margin-top: -5px;
  box-shadow: 0 4px 10px rgba(19, 119, 73, 0.3);
}

.cart-dropdown:hover .cart-menu {
  display: block;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 6px;
}

.checkout {
  margin-top: 10px;
  text-align: center;
}

.empty-cart {
  text-align: center;
  color: #888;
}

.cart-item.reduced {
  background-color: #fff7e6; /* زرد روشن */
}

.cart-item.removed {
  background-color: #fff1f0; /* قرمز روشن */
  text-decoration: line-through;
}

.icon-warning {
  margin-left: 5px;
  color: #faad14; /* نارنجی */
  font-weight: bold;
}

/****END CART****/
