<table *ngIf="dataSource" [dataSource]="dataSource" class="w-100 mat-elevation-z8" mat-table multiTemplateDataRows>
  <ng-container *ngFor="let column of columnsToDisplay" matColumnDef="{{column}}">
    <th *matHeaderCellDef mat-header-cell>{{ getColName(column) | translate }}</th>
    <td *matCellDef="let element; let i = index;" mat-cell>
      <ng-container [ngSwitch]="column">
        <ng-container *ngSwitchCase="'actions'">
          <a *ngFor="let lang of languages; let i = index"
             [routerLink]="['/' + lang + '/admin/clip/edit-category', element.id]" mat-icon-button
             matTooltip="{{'EDIT' | translate}} {{('LANG.' + lang.toUpperCase()) | translate}}"
             target="_blank">
            <mat-icon [color]="colors[i]">edit</mat-icon>
          </a>
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ element[column] }}
        </ng-container>
      </ng-container>
    </td>
  </ng-container>
  <ng-container matColumnDef="expand">
    <th *matHeaderCellDef aria-label="row actions" mat-header-cell>&nbsp;</th>
  </ng-container>
  <tr *matHeaderRowDef="columnsToDisplay" mat-header-row></tr>
  <tr *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row" mat-row>
  </tr>
</table>
<mat-paginator [length]="totalCount" [pageSizeOptions]="[10, 50, 100]"></mat-paginator>
