@if (unitPrice > 0) {
  @if (stock <= 0) {
    <div>
      <button disabled class="out-of-stock">ناموجود</button>
    </div>
  } @else {
    <div>
      @if (quantity() === 0) {
        <div>
          <button class="add-to-cart" mat-raised-button color="primary" (click)="add()">افزودن به سبد</button>
        </div>
      } @else {
        <div class="cart-control">
          <mat-icon (click)="decrease()" class="pe-1 decrease">remove_circle</mat-icon>
          <span>{{ quantity() }}</span>
          <mat-icon (click)="quantity() >= stock ? null : increase()" class="increase">add_circle</mat-icon>
          <mat-icon (click)="remove()" class="ps-1 remove">cancel</mat-icon>
        </div>
        @if (quantity() >= stock) {
          <p class="warning">
            حداکثر تعداد قابل سفارش {{ stock }} عدد است
          </p>
        }
      }
    </div>
  }
}
