.out-of-stock {
  background: #ccc;
  color: #666;
  cursor: not-allowed;
}

.cart-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  background: #f0f0f0;
  border-radius: 4px;

  button {
    padding: 4px 8px;
    cursor: pointer;
  }

  span {
    font-weight: bold;
    min-width: 12px;
    text-align: center;
  }
}

.warning {
  color: red;
  font-size: 12px;
}

.add-to-cart, .cart-control {
  width: 120px;
  height: 40px;
}

mat-icon {
  cursor: pointer;

  &.decrease {
    color: var(--pm-gray);
  }

  &.increase {
    color: var(--pm-green);
  }

  &.remove {
    color: var(--pm-red);
  }
}
