<div class="theme-container px-3">
  <div fxLayout="row wrap" class="agents-wrapper">
    <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-sm="100">
      <div fxFlex="100" fxFlex.gt-md="20" fxFlex.gt-sm="40" fxFlex.sm="50" class="pe-2 py-3">
        <mat-card appearance="outlined">
          <div class="widget">
            <mat-card-title>
              <h4 class="p-2">{{ 'CATEGORY' | translate }}</h4>
            </mat-card-title>
            <mat-divider></mat-divider>
            @if ((data?.length ?? 0) > 0) {
              <mat-card-content class="p-0">
                <app-tree-view [data]="data" (onItemClicked)="itemClicked($event)" [selectedId]="selectedId"
                               [marginClass]="'mr-2'"></app-tree-view>
              </mat-card-content>
            }
          </div>
        </mat-card>
      </div>
      <div fxFlex="100" fxFlex.gt-md="80" fxFlex.gt-sm="60" fxFlex.sm="50" fxLayout="row wrap" class="ps-2 py-3">
        <div fxFlex="100">
          <mat-card appearance="outlined" class="p-3">
            <div class="widget">
              <mat-card-title><h4>
                {{ 'PRODUCTS' | translate }}
                {{ title }}
              </h4>
              </mat-card-title>
              <mat-divider></mat-divider>
              <mat-card-content>
                <div fxLayout="row wrap" class="agents-wrapper">
                  <div *ngFor="let item of items; let i = index" class="p-3"
                       fxFlex="100" fxFlex.gt-md="33.3">
                    <mat-card appearance="outlined">
                      <div fxLayout="row wrap" class="property-status">
                        <span class="background-color bg-orange">{{ item.productCategoryTitle }}</span>
                      </div>
                      <div fxLayout="row wrap" class="property-status left-0" *ngIf="(item.price ?? 0) > 0">
                        <span class="background-color bg-orange">vip</span>
                      </div>
                      <a
                        [routerLink]="['/products', item.id, item.title | replaceUrlSpaces ]"
                        class="agent-img">
                        <img mat-card-image [src]="item.image" [alt]="item.title" class="w-100 img-square"/>
                      </a>
                      <mat-card-content>
                        <h3 class="two-lines fw-600">
                          {{ item.title }}
                        </h3>
                      </mat-card-content>
                      <mat-divider></mat-divider>
                      <mat-card-actions fxLayoutAlign="space-between center">
                        <div fxLayout="row" fxLayoutAlign="start center" class="text-muted"></div>
                        <div>
                          <a [routerLink]="['/products', item.id, item.title | replaceUrlSpaces ]"
                             mat-button color="primary" class="uppercase">
                            مشاهده
                          </a>
                        </div>
                      </mat-card-actions>
                    </mat-card>
                  </div>
                </div>
              </mat-card-content>
            </div>
          </mat-card>
        </div>
        <div *ngIf="items?.length" fxFlex="100" fxLayoutAlign="center center">
          <app-load-more [step]="1"></app-load-more>
        </div>
      </div>
    </div>
  </div>
</div>
