<div class="theme-container px-3">
  <mat-card appearance="outlined" class="my-5 p-5" [ngClass.lt-sm]="'content'">
    <ng-container *ngIf="item">
      <div id="product-item">
        <div fxLayout="row wrap" class="agent-wrapper">
          <div fxLayout="row wrap" fxFlex="100" fxFlex.gt-sm="100">
            <div fxFlex="100" fxFlex.gt-sm="25" class="pl-3 position-relative" [ngClass.lt-md]="'image-article'">
              <div fxLayout="row wrap" class="property-status left-0 px-3" *ngIf="item.isVip">
                <span class="background-color bg-green">vip</span>
              </div>
              <div fxLayout="row wrap" class="property-status">
                <span class="background-color bg-orange px-3 py-2">{{ item.categoryTitle }}</span>
              </div>
              <img [src]="item.image" [alt]="item.title" class="w-100 img-square">
              <!--<app-download-management
                *ngIf="item.doc === 'True' && (item.registered || (item.price ?? 0) === 0)" [id]="item.id" [price]="item.price" [tableId]="Tables.Article">
              </app-download-management>-->
            </div>
            <div fxFlex="100" fxFlex.gt-sm="75" class="p-3">
              <h1 class="mb-2 font-large">{{ item.title }}</h1>
              <div class="tab-wrapper p-3 ">
                <div fxLayout="column wrap" fxLayoutAlign="start start">
                  <span class="d-block fw-600 mb-2">راهنما:</span>
                  <ol class="tab-item">
                    <li class="cursor-pointer mr-3 mb-3 mt-3" *ngFor="let item of item.anchors"
                        [ngClass]="{'active': tabIndex === item.id}" (click)="scrollToItem(item.id)">
                      {{ item.name }}
                    </li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div fxFlex="100" fxFlex.gt-sm="100">
            <div class="mt-3 text-justify description" [innerHTML]="item.description | safeHtml" [ngClass]="ltr"></div>
            <!--<div *ngIf="item.journal" class="mt-2">
              <h3 class="my-2">فصلنامه:</h3>
              <h4>{{ item.journal.title }}</h4>
              <img src="{{item.journal.image}}" *ngIf="item.journal.image" class="wh-100"/>
            </div>-->
            <!--<ng-container *ngIf="item.authors?.length > 0">
              <span class="my-2 d-block">نویسندگان:</span>
              <a [routerLink]="['/user', author.id ]"
                 *ngFor="let author of item.authors; let i = index"
                 class="not-link hover cursor-pointer">
                {{ author.firstName }} {{ author.lastName }}
                <ng-container *ngIf="i < item.authors?.length - 1">،</ng-container>
              </a>
            </ng-container>-->
            <div *ngIf="item.keywords" class="mt-1">
              <span class="my-2 d-block">کلمات کلیدی:</span>
              <div fxLayout="row wrap mt-2">
                <div class="property-status position-relative ml-2 mt-3"
                     *ngFor="let key of item.keywords.split(',')">
                  <a [routerLink]="['/search', key ]"
                     class="background-color bg-warn px-3 py-2 not-link">{{ key }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-comments *ngIf="item" [relatedId]="item.id" [tableId]="Tables.Article"></app-comments>
    </ng-container>
    <div class="text-center" *ngIf="!item">
      <img src="/assets/loading.gif" width="200" alt="loading" *ngIf="isLoading"/>
      <span class="fw-600 font-large" *ngIf="!isLoading">آیتم مورد نظر وجود ندارد.</span>
    </div>
  </mat-card>
</div>
