<div class="section testimonials">
  <div class="px-3">
    <div class="theme-container">
      <h1 class="section-title">What people are saying</h1>
      <div class="testimonials-carousel">
        <div class="swiper-container h-100" [swiper]="config">
          <div class="swiper-wrapper h-100">
            <div *ngFor="let item of items" class="swiper-slide">
              <div class="content text-center">
                <img [attr.data-src]="item.image" class="swiper-lazy">
                <h3 class="author">{{ item.author }}</h3>
                <p>{{ item.position }}</p>
                <div class="swiper-lazy-preloader"></div>
              </div>
            </div>
          </div>
          <!--<div class="swiper-pagination"></div>-->
        </div>
      </div>
    </div>
  </div>
</div>

