<div>
  <a [routerLink]="'/admin/news/category/add'" class="bg-accent mx-3 my-3" mat-raised-button>
    افزودن دسته بندی
    <mat-icon>add</mat-icon>
  </a>
  <a [routerLink]="'/admin/news/add'" class="bg-green mx-3 my-3" mat-raised-button>
    افزودن خبر
    <mat-icon>add</mat-icon>
  </a>
  <a [routerLink]="'/admin/news/category/list'" class="bg-warn mx-3 my-3" mat-raised-button>
    لیست دسته بندی ها
    <mat-icon>grid_on</mat-icon>
  </a>
  <a [routerLink]="'/admin/news/list'" class="bg-primary mx-3 my-3" mat-raised-button>
    لیست اخبار
    <mat-icon>grid_on</mat-icon>
  </a>
</div>
