<div [@newsAnimation]="items?.length">
  <div class="section">
    <div class="theme-container" ngClass.xs="my-3">
      <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="mb-3">
        <div></div>
        <div class="our-title"> {{ 'NEWS' | translate }}</div>
        <a fxLayoutAlign="start start" [routerLink]="['/news' | langPack]" color="warn" class="not-link">
          {{ 'VIEW_ALL' | translate }}
          <mat-icon>chevron_left</mat-icon>
        </a>
      </div>
      <div class="agents-carousel">
        <div class="swiper-container h-100 carousel-outer" [swiper]="config">
          <div class="swiper-wrapper h-100">
            <div *ngFor="let news of items" class="swiper-slide">
              <article class="card">
                <img [src]="news.image"
                     [alt]="news.title" loading="lazy">
                <div class="card-body">
                  <h3 class="two-lines text-center">{{ news.title }}</h3>
                  <p class="muted two-lines">{{ news.abstract }}</p>
                  <div class="card-actions">
                    <button mat-raised-button color="primary"
                            [routerLink]="['/news' | langPack, news.id, news.title | replaceUrlSpaces ]">
                      {{ 'CONTINUE_READING' | translate }}
                    </button>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

