<div class="article-detail-container">
  <nav class="breadcrumb">
    <a routerLink="/">خانه</a> / <a routerLink="/articles">مقالات</a> / {{ article.title }}
  </nav>

  <img class="cover" [src]="article.thumbnail" [alt]="article.title"/>

  <div class="content">
    <h1>{{ article.title }}</h1>
    <p class="meta">
      نویسنده: {{ article.author }} | {{ article.publishDate | date }}
    </p>

    <div class="body" [innerHTML]="article.content"></div>

    <div class="related" *ngIf="article.related?.length">
      <h3>مقالات مرتبط</h3>
      <div class="related-grid">
        <div class="related-card" *ngFor="let related of article.related">
          <img [src]="related.thumbnail" [alt]="related.title"/>
          <h4>{{ related.title }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
