<div id="load-more">
  @if (!settings.loadMore.complete) {
    <div>
      @if (!settings.loadMore.start) {
        <button mat-raised-button color="primary" (click)="startLoad()"
                class="uppercase">
          بیشتر
        </button>
      }
      @if (settings.loadMore.start) {
        <mat-spinner></mat-spinner>
      }
    </div>
  }
  @if (settings.loadMore.complete) {
    <mat-chip-listbox>
      <mat-chip-option selected disableRipple="true" color="primary" class="uppercase ws-nowrap">
      <span class="secondary-color">
        {{ 'TOTAL_COUNT'  | translate }}
        {{ settings.loadMore.result }}</span>
      </mat-chip-option>
    </mat-chip-listbox>
  }
</div>
