<app-header-image [backgroundImage]="''"
                  [bgImageAnimate]="false"
                  [contentOffsetToTop]="true"
                  [hideMask]="true"
                  [title]="''"
                  [desc]="''">
</app-header-image>
<div class="theme-container">
  <div class="px-3">
    <mat-card appearance="outlined" class="main-content-header">
      <div fxLayout="row wrap" class="mt-5">
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="40">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'PROVINCE' | translate }}</mat-label>
            <mat-select [placeholder]="'PROVINCE' | translate" (selectionChange)="provinceChanged($event)"
                        [(ngModel)]="provinceId">
              <mat-option *ngFor="let item of provinces" [value]="item.id">
                {{ item.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="px-2" fxFlex="100" fxFlex.gt-xs="40">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>{{ 'CITY' | translate }}</mat-label>
            <mat-select [placeholder]="'CITY' | translate" (selectionChange)="cityChanged($event)" [(ngModel)]="cityId">
              <mat-option *ngFor="let item of cities" [value]="item.id">
                {{ item.title }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="px-2 text-left" fxFlex="100" fxFlex.gt-xs="20">
          <button mat-raised-button color="accent" (click)="reset()" class="mt-3">
            {{ 'RESET_FILTERS' | translate }}
          </button>
        </div>
      </div>
      <div class="section mt-3">
        <h1 class="section-title">{{ 'TREATMENT_CENTERS' | translate }}</h1>
        <div fxLayout="row wrap" class="services-wrapper">
          @for (item of array; track item.title) {
            <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">
              <mat-card appearance="outlined" fxLayout="column" fxLayoutAlign="start center"
                        class="text-center cursor-pointer" (click)="openDialog(item)">
                <img [src]="item.image" class="w-100 h-100 img-square" [alt]="item.title"/>
                <h2 class="capitalize fw-600 mx-3 mt-3 two-lines">{{ item.title }}</h2>
                <p>{{ item.province }}، {{ item.city }}</p>
                <p>{{ item.description }}</p>
              </mat-card>
            </div>
          }
        </div>
      </div>
    </mat-card>
  </div>
</div>
