<app-header-image [backgroundImage]="'assets/images/others/projects_header.jpg'"
                  [bgImageAnimate]="false"
                  [contentOffsetToTop]="true"
                  [hideMask]="true"
                  [title]="''"
                  [desc]="''">
</app-header-image>
<div class="theme-container">
  <div class="px-3">
    <mat-card appearance="outlined" class="main-content-header">
      <div class="section mt-3">
        <h1 class="section-title">{{ 'TREATMENT_CENTERS' | translate }}</h1>
        <div fxLayout="row wrap" class="services-wrapper">
          @for (item of array; track item.title) {
            <div fxFlex="100" fxFlex.gt-md="25" fxFlex.gt-sm="50" class="p-2">
              <mat-card appearance="outlined" fxLayout="column" fxLayoutAlign="start center"
                        class="text-center cursor-pointer" (click)="openDialog(item)">
                <img [src]="item.image" class="w-100 h-100 img-square" [alt]="item.title"/>
                <h2 class="capitalize fw-600 mx-3 mt-3 two-lines">{{ item.title }}</h2>
                <p>{{ item.city }}</p>
                <p>{{ item.description }}</p>
              </mat-card>
            </div>
          }
        </div>
      </div>
    </mat-card>
  </div>
</div>
