.property-status {
  position: absolute;
  z-index: 2;

  span {
    padding: 3px 6px;
    margin: 4px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 4px;
  }
}

.section {
  background-color: #efeff7;
}

.scale-rotate-wrapper {
  overflow: hidden;

  img {

    transition: scale 1s, transform 1s;
    transition-timing-function: cubic-bezier(2, .1, .2, 1);

    &:hover {
      scale: 1.1;
      transform: rotate(-1deg);
    }
  }
}
