<div [@clipsAnimation]="items?.length">
  <div class="section">
    <div class="theme-container">
      <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="mb-3">
        <div></div>
        <div class="our-title"> {{ 'CLIPS' | translate }}</div>
        <a fxLayoutAlign="start start" [routerLink]="['/clips' | langPack]" color="warn" class="not-link">
          {{ 'VIEW_ALL' | translate }}
          <mat-icon>chevron_left</mat-icon>
        </a>
      </div>
      <div class="agents-carousel">
        <div class="swiper-container h-100 carousel-outer" [swiper]="config">
          <div class="swiper-wrapper h-100">
            <div *ngFor="let clip of items" class="swiper-slide">
              <article class="card video-card">
                <div class="video-thumb" role="button" tabindex="0">
                  <img [src]="clip.image"
                       [alt]="clip.title" loading="lazy">
                  <div class="play-icon">▶</div>
                </div>
                <div class="card-body">
                  <h2>{{ clip.title }}</h2>
                  <div class="card-actions">
                    <a mat-raised-button color="primary"
                       [routerLink]="['/clips' | langPack, clip.id, clip.title | replaceUrlSpaces ]">
                      {{ 'PLAY_VIDEO' | translate }}
                    </a>
                  </div>
                </div>
              </article>
            </div>
          </div>
          <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

