<section id="services" class="services">
  <div class="theme-container">
    <h2>خدمات ما</h2>
    <div class="cards">
      <div class="w-100 card">
        <div class="icon">🩺</div>
        <h3 class="two-lines">ECT چیست؟</h3>
        <p class="text-justify">
          ECT (ElectroChemoTherapy) یک روش درمانی نوین و کم‌تهاجمی برای درمان انواع تومورهای سرطانی است که با ترکیب
          الکتروپوریشن و داروهای شیمی‌درمانی، اثربخشی درمان را به شکل چشمگیری افزایش می‌دهد. این تکنولوژی، فرصتی جدید
          برای بیماران و پزشکان فراهم می‌کند تا بدون آسیب به بافت‌های سالم، سلول‌های سرطانی را هدف قرار دهند.
        </p>
      </div>
      <div class="w-100 card">
        <div class="icon">⚙️</div>
        <h3 class="two-lines">افتخارات ما گام‌هایی استوار در مسیر پیشرفت</h3>
        <p class="text-justify">
          ما به پشتوانه سال‌ها تحقیق، نوآوری و تلاش بی‌وقفه، موفق به کسب افتخارات متعدد در حوزه فناوری‌های درمان سرطان
          شده‌ایم. ثبت اختراعات ملی، دریافت جوایز علمی و همکاری با معتبرترین مراکز درمانی، تنها بخشی از افتخارات ماست.
          این مسیر را با هدف سلامت بیماران ادامه می‌دهیم.
        </p>
      </div>
      <div class="w-100 card">
        <div class="icon">📦</div>
        <h3 class="two-lines">جای متن</h3>
        <p class="text-justify">
          جای متن
        </p>
      </div>
    </div>
  </div>
</section>
