<section id="services" class="services">
  <div class="theme-container">
    <h2>خدمات ما</h2>
    <div class="cards">
      <div class="w-100 card">
        <div class="icon"></div>
        <h3>الکتروکموتراپی چیست؟</h3>
        <p class="text-justify">
          الکتروکموتراپی (ECT) یک روش درمانی نوین، کم‌تهاجمی و ایمن در مبارزه با سرطان است. در این روش، با استفاده
          از پالس‌های الکتریکی کنترل‌شده و داروهای شیمی‌درمانی با دوز پایین، نفوذ دارو به سلول‌های سرطانی تا هزار برابر
          افزایش می‌یابد. پالس‌های کوتاه و با ولتاژ بالا، منافذ موقتی در غشای سلول‌های توموری ایجاد می‌کنند؛ پدیده‌ای که
          به آن الکتروپوریشن برگشت‌پذیر (Reversible Electroporation) گفته می‌شود. به‌این‌ترتیب داروهایی مانند Bleomycin
          یا Cisplatin به‌طور مستقیم وارد سلول‌های سرطانی شده و باعث تخریب انتخابی تومور با حفظ بافت‌های سالم اطراف
          می‌شوند. این درمان هدفمند، ایمن و قابل‌تکرار است و می‌تواند در نقش‌های مختلف درمانی مورد استفاده قرار
          گیرد:
          <br>
          درمان قطعی (Curative)
          <br>
          درمان تسکینی (Palliative)
          <br>
          درمان تکمیلی (Adjuvant)
        </p>
      </div>
      <div class="w-100 card">
        <div class="icon"></div>
        <h3>تفاوت با شیمی‌درمانی سنتی</h3>
        <p class="text-justify">
          در شیمی‌درمانی معمولی، دارو در کل بدن پخش می‌شود و بر سلول‌های سالم هم اثر می‌گذارد. اما در ECT، دارو با
          دوز پایین تزریق شده و با پالس‌های الکتریکی، نفوذ آن تا هزار برابر افزایش می‌یابد؛ در نتیجه اثربخشی بیشتر و
          عوارض بسیار کمتر دارد.
        </p>
      </div>
      <div class="w-100 card">
        <div class="icon"></div>
        <h3>روش انجام (طول درمان – عوارض – مراقبت‌ها)</h3>
        <p class="text-justify">
          درمان ECT معمولاً به‌صورت سرپایی و بدون نیاز به بستری طولانی انجام می‌شود. ابتدا داروی شیمی‌درمانی با دوز
          پایین تزریق می‌گردد و سپس پالس‌های الکتریکی کنترل‌شده از طریق الکترودهای مخصوص به ناحیه‌ی تومور اعمال می‌شود.
          کل فرآیند معمولاً بین ۲۰ تا ۴۰ دقیقه زمان می‌برد و بازگشت سریع بیمار به زندگی عادی، یکی از مزیت‌های برجسته‌ی
          این روش است. عوارض احتمالی این روش معمولاً خفیف و موقتی هستند؛ از جمله قرمزی، تورم یا درد ملایم در محل درمان
          که طی چند روز برطرف می‌شوند. مراقبت‌های بعد از درمان شامل تمیزی ناحیه‌ی تحت درمان و پرهیز از فشار یا تحریک
          مستقیم محل است. در بیشتر موارد، یک تا چند جلسه درمان کافی است و بسیاری از بیماران تنها پس از اولین جلسه، بهبود
          قابل‌توجهی در اندازه یا ظاهر ضایعه نشان می‌دهند.
        </p>
      </div>
    </div>
  </div>
</section>
