@import '../../../../theme/styles/variables.scss';

.mat-elevation-z8 {
  .img-square {
    max-width: 150px;
  }
}

td.cdk-column-statusText {
  min-width: 200px;
}

td.cdk-column-title, td.cdk-column-creationDate {
  white-space: normal !important;
}
