<div [@articlesAnimation]="items?.length">
  <div class="section">
    <div class="theme-container" ngClass.xs="my-3">
      <div fxLayout="row wrap" fxLayoutAlign="space-between start" class="mb-3">
        <div></div>
        <div class="our-title"> {{ 'ARTICLES' | translate }}</div>
        <a fxLayoutAlign="start start" [routerLink]="['/articles' | langPack]" color="warn" class="not-link">
          {{ 'VIEW_ALL' | translate }}
          <mat-icon>chevron_left</mat-icon>
        </a>
      </div>
      <div class="agents-carousel">
        <div class="swiper-container h-100 carousel-outer" [swiper]="config">
          <div class="swiper-wrapper h-100">
            @for (article of items; track article.id) {
              <div class="swiper-slide">
                <article class="card">
                  <img [src]="article.image"
                       [alt]="article.title"
                       loading="lazy">
                  <div class="card-body">
                    <h3 class="three-lines">{{ article.title }}</h3>
                    <p class="muted four-lines" [innerHTML]="article.abstract | safeHtml"></p>
                    <div class="card-actions">
                      <a mat-raised-button color="primary"
                         [routerLink]="['/articles' | langPack, article.id, article.title | replaceUrlSpaces ]">
                        {{ 'READ_ARTICLE' | translate }}
                      </a>
                    </div>
                  </div>
                </article>
              </div>
            }
          </div>
          <button mat-mini-fab color="primary" class="swiper-button-prev swipe-arrow">
            <mat-icon>keyboard_arrow_right</mat-icon>
          </button>
          <button mat-mini-fab color="primary" class="swiper-button-next swipe-arrow">
            <mat-icon>keyboard_arrow_left</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

