.bordered {
  border-radius: 4px;

  &.border {
    border: solid 1px #e0e0e0;
  }
}

::ng-deep .profile {
  .register {
    margin-top: -4px;

    .mat-mdc-card {
      padding: 0;
      box-shadow: none !important;
    }
  }
}
