<div class="news-detail container" *ngIf="item; else loadingTpl">
  <div class="breadcrumb">
    <a mat-button [routerLink]="'/news' | langPack">&larr; بازگشت به اخبار</a>
  </div>
  @if (item) {
    <header class="hero" [style.backgroundImage]="'url(' + item.image + ')'">
      <div class="overlay"></div>
      <div class="hero-body fade-section">
        <div class="meta">
          <span class="category">{{ item.resourceCategoryTitle }}</span>
          <span class="date">{{ item.publishDate }}</span>
        </div>
      </div>
    </header>

    @if ((item.fileId ?? 0) > 0) {
      <div class="w-25 mb-5">
        @if (item.purchased || item.price === 0) {
          <app-download-management [id]="item.fileId ?? 0" [price]="item.price" [tableId]="Tables.Article">
          </app-download-management>
        } @else {
          <app-cart-item-control
            [relatedId]="item!.id"
            [tableId]="Tables.Article"
            [relatedName]="item!.title"
            [unitPrice]="item!.price ?? 0"
            [stock]="item!.stock ?? 99999999">
          </app-cart-item-control>
        }
      </div>
    }

    <article class="content fade-section">
      <h1 class="title">{{ item.title }}</h1>
      <div class="mt-2 text" [innerHTML]="item.description | safeHtml"></div>

      <div class="share">
        <span>اشتراک‌گذاری:</span>
        <!--<button mat-icon-button aria-label="share telegram" (click)="share('Telegram')" title="Telegram">
          <mat-icon>send</mat-icon>
        </button>-->
        <button mat-icon-button aria-label="share copy" (click)="copy()" [title]="'COPY' | translate">
          <mat-icon>linkedin</mat-icon>
        </button>
        <button mat-icon-button aria-label="share twitter" (click)="share()" [title]="'SHARE' | translate">
          <mat-icon>share</mat-icon>
        </button>
      </div>
    </article>

    <!--<aside class="related fade-section" *ngIf="item.related?.length">
      <h3>مطالب مرتبط</h3>
      <div class="rel-grid">
        <article *ngFor="let r of item.related" class="rel-card" (click)="navigateToLink('/news/'+ r.id, 'fa2')">
          <img [src]="r.coverImage" alt="{{ r.title }}">
          <div class="rmeta">
            <h4>{{ r.title }}</h4>
            <p class="rdate">{{ formatDate(r.publishDate) }}</p>
          </div>
        </article>
      </div>
    </aside>-->
  }
</div>

<ng-template #loadingTpl>
  <div class="loading container">در حال بارگذاری...</div>
</ng-template>
