<div>
  <img mat-card-image src="{{product?.image}}" class="w-100 img-square" style="height: 200px; object-fit: cover">
  <div class="theme-container">
    <div class="link-guid">
      <span>{{ 'PRODUCTS' | translate }}</span>
      @for (category of parents; track category.id) {
        <mat-icon>keyboard_arrow_left</mat-icon>
        <a [routerLink]="['/products/category/' | langPack, category?.id, category?.title ]" class="not-link" target="_blank">
          {{ category?.title }}
        </a>
      }
      <!--<mat-icon>keyboard_arrow_left</mat-icon>
      <a [routerLink]="['/products/category/' | langPack, productCategory2?.id, productCategory2?.title ]" class="not-link">
        {{ productCategory2?.title }}
      </a>
      <mat-icon>keyboard_arrow_left</mat-icon>
      <a [routerLink]="['/products/' | langPack, productCategory1?.parentId, productCategory1?.id, productCategory1?.title ]"
         class="not-link">
        {{ productCategory1?.title }}
      </a>-->
    </div>
    <div id="product-item" [style.margin-top.px]="fixTabs ? '80' : '0'" class="product-item">
      <div fxLayout="column" fxLayoutAlign="center end">
        <!--@if ((item.fileId ?? 0) > 0 && (item.registered || item.price === 0)) {
          <app-download-management
            [id]="item.fileId!" [price]="item.price ?? 0" [tableId]="Tables.Article">
          </app-download-management>
        }-->
        @if (product) {
          <!--relatedId: {{ product!.id }}<br/>
          tableId: {{ Tables.Product }}<br/>
          relatedName: {{ product!.title }}<br/>
          unitPrice: {{ (product!.price ?? 0) }}<br/>
          stock: {{ product!.stock ?? 99999999 }}<br/>-->
          <app-cart-item-control
            [relatedId]="product!.id"
            [tableId]="Tables.Product"
            [relatedName]="product!.title"
            [unitPrice]="product!.price ?? 0"
            [stock]="product!.stock ?? 99999999">
          </app-cart-item-control>
        }
      </div>
      <div fxLayout="row wrap" class="agents-wrapper">
        <div class="p-3" fxFlex="100" fxFlex.gt-md="50">
          <div fxLayout="row">
            <div class="category-line"></div>
            <div class="header-title-content pt-2">
              <h3 class="category-title">{{ product?.title }}</h3>
            </div>
          </div>
          <div>
            <div class="multi-line-span" [innerHTML]="product?.description | safeHtml"></div>
          </div>
        </div>
        <div class="p-3" fxFlex="100" fxFlex.gt-md="50">
          @for (item of product?.images; track product?.id) {
            <img src="{{item?.path}}" class="wh-100">
          }
        </div>
      </div>
    </div>
  </div>
</div>
