<div class="theme-container py-3">
  <nav class="breadcrumb">
    <a routerLink="/">خانه</a> / مقالات
  </nav>

  <h2 class="section-title">مقالات تخصصی</h2>

  <div fxLayout="row wrap">
    @for (article of items; track article.id; let i = $index) {
      <div fxFlex="100" fxFlex.gt-md="33.3" class="p-3">
        <mat-card
          class="article-card"
          (click)="goToDetail(article)">
          <img mat-card-image [src]="article.image" [alt]="article.title"/>
          <mat-card-content>
            <h3 class="mt-2 text-left ltr two-lines">{{ article.title }}</h3>
            <div fxLayout="row wrap" fxLayoutAlign="space-between center">
              <p class="meta">
                <span>{{ article.keywords }}</span>
              </p>
              <p class="meta text-left">
                {{ article.creationDate }}
              </p>
            </div>
            <p class="excerpt four-lines" [innerHTML]="article.abstract | safeHtml"></p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-stroked-button color="primary">ادامه مطلب</button>
          </mat-card-actions>
        </mat-card>
      </div>
    }
    @if (items?.length) {
      <div fxFlex="100" fxLayoutAlign="center center">
        <app-load-more [step]="1"></app-load-more>
      </div>
    }
  </div>
</div>
