<!--<mat-form-field appearance="outline" class="w-100">
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter properties" autocomplete="off">
</mat-form-field>-->
<div class="table-wrapper">
  <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="w-100 mat-elevation-z8" *ngIf="dataSource"
         matSort (matSortChange)="sortChanged($event)" matSortActive="creationDate" matSortDirection="desc">
    <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
      <ng-container [ngSwitch]="column">
        <ng-container *ngSwitchCase="'actions'">
          <th mat-header-cell *matHeaderCellDef>
            {{ getColName(column) | translate }}
          </th>
        </ng-container>
        <ng-container *ngSwitchDefault>
          <th mat-header-cell *matHeaderCellDef>
            {{ getColName(column) | translate }}
          </th>
        </ng-container>
      </ng-container>
      <td mat-cell *matCellDef="let element; let i = index;">
        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchCase="'title'">
            {{ element.profile?.firstName }} {{ element.profile?.lastName }}
            ({{ element.profile?.mobile }})
          </ng-container>
          <ng-container *ngSwitchCase="'actions'">
            <!--<button mat-icon-button class="green-color" (click)="setStatus(element, true)"
                    matTooltip="{{'CONFIRM' | translate}}">
              <mat-icon>check_circle</mat-icon>
            </button>
            <button mat-icon-button class="red-color" (click)="setStatus(element, false)"
                    matTooltip="{{'REJECT' | translate}}">
              <mat-icon>cancel</mat-icon>
            </button>
            <button mat-icon-button class="warn-color" (click)="setReply(element)"
                    matTooltip="{{'REPLY' | translate}}">
              <mat-icon>reply</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="remove(element)"
                    [matTooltip]="'DELETE' | translate" class="remove">
              <mat-icon>delete</mat-icon>
            </button>-->
            <a [routerLink]="['/' + url + '/payment/details', element.id]" target="_blank">
              <mat-icon [title]="'VIEW' | translate" class="blue-color">search</mat-icon>
            </a>
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ element[column] }}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let property; columns: displayedColumns;">
    </tr>
  </table>
  <p *ngIf="dataSource?.data?.length === 0" class="py-5 mb-0 text-center">{{ 'NO_DATA_AVAILABLE' | translate }}</p>
</div>
<!--<mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>-->
<mat-paginator *ngIf="(dataSource?.data?.length ?? 0) > 0"
               [pageSizeOptions]="[5, 10, 25, 100]"
               (page)="onPaginateChange($event)"
               [pageSize]="pageSize"
               [pageIndex]="pageIndex - 1"
               [length]="totalCount"
               showFirstLastButtons></mat-paginator>
