<div class="article-detail theme-container">
  <nav class="breadcrumb my-3">
    <a routerLink="/" class="not-link">خانه</a>
    /
    <a routerLink="/articles" class="not-link">مقالات</a>
    / {{ item?.title }}
  </nav>

  @if (item) {

    <img class="cover" [src]="item?.image" [alt]="item.title"/>

    <div class="content">
      <h1>{{ item.title }}</h1>
      <p class="meta">
        تاریخ:
        {{ item.publishDate }}
      </p>
      <p class="meta ">
        کلمات کلیدی:
        <span class="bg-primary p-2 background-color">{{ item.keywords }}</span>
      </p>

      <div class="body" [innerHTML]="item.description"></div>

      <!--<div class="related" *ngIf="item.related?.length">
        <h3>مقالات مرتبط</h3>
        <div class="related-grid">
          <div class="related-card" *ngFor="let related of item.related">
            <img [src]="related.thumbnail" [alt]="related.title"/>
            <h4>{{ related.title }}</h4>
          </div>
        </div>
      </div>-->
    </div>
    <div class="mb-3">
      <app-comments [relatedId]="item.id" [tableId]="Tables.Article"></app-comments>
    </div>
  }
</div>
